{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="d-flex flex-column flex-md-row">
    <!-- About Us Section -->
    <div class="col text-center mx-5">
        <div class="text-center pt-3">
            <h2>About Us</h2>
            <hr>
        </div>
        <div> Passionate about eco-conscious living, I'm on a journey to reimagine the possibilities of everyday objects.
            I am constantly on the look out to source unwanted fabrics and breathe new life into them, creating unique,
            sustainable pieces.<br>
            <hr>Weaving has become my meditation, a mindful practice that connects me to the beauty of each thread.
            <hr>
            But my passion doesn't end there. I dream of teaching future generations the art of crafting, not just for
            aesthetics but with a deep consideration
            for our planet's impact. <br>I want to empower them to create beautiful pieces that stand the test of time
            and inspire them to repair, not replace, so that
            together, we can weave a more sustainable future
            <hr>
            We strive to operate with no waste which constantly challenges our creativity and pushes our imagination to
            think outside the box.
            <hr>
        </div>
    </div>
    <!-- Testimonials carousel -->
    <div class="col text-center testimonial mx-5 pt-3">
        <h2>Testimonials</h2>
        <hr>
        <p> See what our customers have to say about us.</p>
        <div id="testimonial4"
            class="carousel slide testimonial4_indicators testimonial4_control_button thumb_scroll_x swipe_x"
            data-ride="carousel" data-pause="hover" data-interval="5000" data-duration="2000">
            <div class="carousel-inner" role="listbox">
                {% for testimonial in testimonials %}
                <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                    <div class="testimonial4_slide">
                        <img src="{{testimonial.image.url}}" class="img-circle img-responsive" alt="Testimonial image">
                        <p>"{{testimonial.client_testimonial}}"</p>
                        <h4><strong>{{testimonial.client_name}}</strong></h4>
                    </div>
                </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#testimonial4" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#testimonial4" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</div>
<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>
{% endblock %}
