{% extends "base.html" %}
{% load static %}

<!-- Workshop Request Form -->

{% block extra_title %} - Workshop Enquiry {% endblock %}

{% block content %}
<!-- Contact Us form -->
<div class="container text-center mt-3">
        <h2>Get In Touch</h2>
        <hr>
    <p> We would love to hear from you if you are interested in commissioning a piece or would like to find out more about our products and workshops.<hr>
    </p>
        <div class="row">
            <div class="col-12">
                <form method="POST" class="form mb-2">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right">
                        <a class="btn btn-outline-black rounded-0 text-uppercase mt-2"
                            href="{% url 'aboutus' %}">Cancel</a>
                        <input class="btn btn-black rounded-0 text-uppercase mt-2" type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}