{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container pt-2">

            <h2 class="logo-font text-center ">
                Welcome to <strong>Avenue Louise</strong>
            </h2>
            <p class="text-center p-2">Passionate about eco-conscious living, I'm on a journey to reimagine the
                possibilities of everyday objects. My heart beats for textiles, and I'm on a mission to source unwanted
                fabrics and breathe new life into them, creating unique, sustainable pieces.
                <br>Weaving has become my meditation, a mindful practice that connects me to the beauty of each thread.
            </p>
        <div class="welcome">
            <div class="text-center">
                <h2>New products</h2>
            </div>
            <div class="container d-flex flex-row flex-wrap justify-content-center">
                {% for product in products %}
                {% if product.in_stock == True %}
                <div class="card m-4" style="width: 18rem;">
                    <a href="{% url 'product_detail' product.id %}" class="">
                        <img class="card-img-top" src="{{product.image.url}}" alt="Card image cap">
                        <div class="card-body">

                            <h4 class="card-text">{{product.name}}</h4>

                        </div>
                    </a>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

<section class="testimonial">

    <div id="carouselExampleIndicators" class="carousel slide p-4 testimonials" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="text-center">
            <h2>Customer Reviews</h2>
        </div>
        <div class="carousel-inner">
            {% for testimonial in testimonials %}
            <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}" id="slide{{ forloop.counter }}">
                    <img src="{{testimonial.image.url}}" height="150px">
                    <div class="carousel-caption text-black">
                        <h4><strong>{{testimonial.client_name}}</strong></h4>
                        <p>"{{testimonial.client_testimonial}}"</p>

                    </div>
            </div>
            {% endfor %}

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>
</section>

{% endblock %}