{% extends "base.html" %}
{% load static %}

{% block title %}Testimonials{% endblock %}


{% block content %}

<div class="container flex-column pt-3">
    <section class="text-center">
        <h1 class="main-title mx-auto">Client Testimonials</h1>
        <p class="pt-4">
            We are really proud of the feedback we get from our clients.
        </p>
    </section>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            {% for testimonial in testimonials %}
            <div class="carousel-item active">
                <div class="item {% if forloop.counter == 1 %}active{% endif %}" id="slide{{ forloop.counter }}">
                    <img src="{{testimonial.image.url}}">
                    <div class="carousel-caption">
                        <h4>{{testimonial.client_name}}</h4>
                        <p>{{testimonial.client_testimonial}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            

          <div class="carousel-item">
            <img class="d-block w-100" src="..." alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="..." alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>


    <!-- <section>

      <div class="justify-content-center">
          {% for testimonial in testimonials %}
          <div class="card m-3" style="width: 18rem;">
            <img class="card-img-top" src="{{testimonial.image.url}}" alt="Card image cap">
            
          </div><div class="card-body">
              <h5 class="card-title">{{testimonial.client_name}}</h5>
              <i class="fas fa-sm font-italic fa-quote-left pe-2"></i>
              <p class="card-text">{{testimonial.client_testimonial}}</p>
            </div>
            <i class="fas fa-sm font-italic fa-quote-right pe-2"></i>
            <div class="d-flex text-green mx-auto py-2">
                <i class="fas fa-star fa-sm"></i>
                <i class="fas fa-star fa-sm"></i>
                <i class="fas fa-star fa-sm"></i>
                <i class="fas fa-star fa-sm"></i>
                <i class="fas fa-star fa-sm"></i>
            </div>
          {% endfor %}
      </div> 
    </section>
</div> -->
{% endblock %}