@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway&display=swap');

html, body {
    height: 100%
}

body {
    font-family: Raleway;
    color: #555;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    background-color: var(--white);
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}


header {    
    background-color: #e8c7c8
}

.centered {
    width: 100%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.logo {
    width: 11rem;
    overflow: hidden;
    margin-top: -20px
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important
}

.bg-black {
    background: #000 !important;
}

.header-container {
    padding-top: 260px;
}

.product-container {
    padding-top: 50px;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* Footer */

footer {
    background-color: white;
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    color: black;
    bottom: 0;
    font-size: 14px;
}

.social-networks {
    width:50%; 
    text-align: center;
    align-items: center;
}

.social-networks h3 {
    padding-top: 10px;
}

.social-networks ul {
    display: flex;
    justify-content: space-between;
    padding-left: 0 !important;
}

.social-networks li {
    display: inline;
    text-align: center;
    font-size: 160%;
    margin: 1%;
    text-decoration: none;
}

.social-networks li a {
    text-decoration: none;
    color: black
}

.disclaimer {
    width:90%; 
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    color: black
}



@media (min-width: 1200px)
{
.container {
    max-width: 2000px !important
}
}
