{% load static %}

<!-- Footer -->
<footer class="text-center mt-3">
    <div class="container p-4">
        <!-- Socials -->
        <div class="mb-4">
            <a class="btn btn-outline-black btn-floating m-1"
                href="https://www.facebook.com/profile.php?id=100066331464953" role="button" target="_blank"
                rel="noopener" aria-label="Visit our Facebook page (opens in a new tab)"><i
                    class="fab fa-facebook-f"></i></a>
            <a class="btn btn-outline-black btn-floating m-1" href="https://www.instagram.com/avenuelouise.ie/"
                role="button" target="_blank" rel="noopener"
                aria-label="Visit our Instagram page (opens in a new tab)"><i class="fab fa-instagram"></i></a>
            <a class="btn btn-outline-black btn-floating m-1" href="https://github.com/Louibens" role="button"
                target="_blank" rel="noopener" aria-label="Visit our Github page (opens in a new tab)"><i
                    class="fab fa-github"></i></a>
        </div>
        <!-- Mailchimp -->
        <div id="mc_embed_shell">
            <div id="mc_embed_signup">
                <form
                    action="https://github.us21.list-manage.com/subscribe/post?u=8c546539f60bb0b88a52d00c0&amp;id=df72799344&amp;f_id=000fdae6f0"
                    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                    target="_blank">
                    <div id="mc_embed_signup_scroll">
                        <h2>Sign up for our newsletter</h2>
                        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                        <div class="mc-field-group">
                            <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""></div>
                        <div id="mce-responses" class="clear foot">
                            <div class="response" id="mce-error-response" style="display: none;"></div>
                            <div class="response" id="mce-success-response" style="display: none;"></div>
                        </div>
                        <div aria-hidden="true" style="position: absolute; left: -5000px;">
                            /* real people should not fill this in and expect good things - do not remove this or risk
                            form
                            bot
                            signups */
                            <input type="text" name="b_8c546539f60bb0b88a52d00c0_df72799344" tabindex="-1" aria-label="hidden" value="">
                        </div>
                        <div class="optionalParent">
                            <div class="clear foot">
                                <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-black rounded-0"
                                    value="Subscribe">
                                <p style="margin: 0px auto;"><a href="http://eepurl.com/iAlNqM"
                                        title="Mailchimp - email marketing made easy and fun"><span
                                            style="display: inline-block; background-color: transparent; border-radius: 4px;"><img
                                                class="refferal_badge"
                                                src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg"
                                                alt="Intuit Mailchimp"
                                                style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Disclaimer -->
        <div class="mb-4">
            <p>
                This website was created for educational purposes as part of the diploma in Full Stack Software
                Development at
                the Code Institute.
                <br>
                © 2023. All Rights Reserved.
            </p>
        </div>
        <!-- Privacy Policy -->
        <div class="">
            <a href="https://www.privacypolicygenerator.info/live.php?token=DBemyP4KlSHiyHdhe4T4hESCEJfRH4bk"
                target="_blank" aria-label="privacy policy"> Privacy Policy</a>
        </div>
    </div>
</footer>
