{% load static %}

<!-- footer -->
<footer>
    
    <div class="social-networks pt-3">
        <h3>Follow us</h3>
        <ul>
            <li>
                <a href="https://www.facebook.com/profile.php?id=100066331464953" target="_blank" rel="noopener"
                    aria-label="Visit our Facebook page (opens in a new tab)"><i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/avenuelouise.ie/" target="_blank" rel="noopener"
                    aria-label="Visit our Instagram page (opens in a new tab)"><i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="https://youtube.com" target="_blank" rel="noopener"
                    aria-label="Visit our Youtube page (opens in a new tab)"><i class="fa fa-youtube" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/Louibens" target="_blank" rel="noopener"
                    aria-label="Visit our Github page (opens in a new tab)"><i class="fa fa-github" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="disclaimer pb-4">
        This website was created for educational purposes as part of the diploma in Full Stack Software Development at
        the Code Institute.
        <br>
        © 2023. All Rights Reserved.
    </div>
    <div class="">
        <a href="https://www.privacypolicygenerator.info/live.php?token=DBemyP4KlSHiyHdhe4T4hESCEJfRH4bk" target="_blank"> Privacy Policy</a>
    </div>

</footer>