{% extends "base.html" %}

{% block title %}Add Workshop{% endblock %}

{% block content %}
<div class="container">
    <form method="POST" enctype="multipart/form-data" class="p-2 form">
        <h1 class="text-center">Add Workshop</h1>
        {% csrf_token %}
        {{ form.media }}
        {{ form|crispy }}
        <div class="text-right">
            <a class="btn btn-outline-black rounded-0" href="{% url 'workshops' %}">Cancel</a>
            <button class="btn btn-black rounded-0" type="submit">Add Product</button>
        </div>
    </form>

</div>
{% endblock %}