{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Add Workshop{% endblock %}

{% block content %}
<!-- Workshop Request Success Page -->
<div class="container auth-container">
    <div class="row">
        <div class="col-12 mt-4">
            <h2 class="mb-4 text-center ">Success!</h2>
            <hr class="section-rule">
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <h3>Your Workshop Request Has Been received!</h3>
            <h4>We will contact you shortly with further details</h4>
        </div>
        <div class="col-12 text-center mt-5">
            <a class="btn btn-black rounded-0 text-uppercase mt-2" href="{% url 'workshops' %}">Return to Workshops</a>
        </div>
    </div>
</div>
{% endblock %}